<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="imagem-inicial">
<ion-img src="../../assets/img/eleicoes2022.jpeg"></ion-img>
</div>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calendário Eleitoral</ion-card-title>
      <ion-card-subtitle>Eleições 2022</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      <ion-img src="../../assets/img/parla.png" id="imgTeste"></ion-img>
      Neste calendário, você tem acesso, de forma dinâmica, às informações relativas às eleições, separadas por ano e mês. Para conhecer as normas que regulamentam o calendário das eleições 2020, <a href="https://www.tse.jus.br/eleicoes/eleicoes-2020/normas-e-documentacoes">acesse a página normas e documentações</a>. Caso queira pesquisar as normas dos outros anos, acesse <a href="https://www.tse.jus.br/eleicoes/eleicoes-anteriores/eleicoes-anteriores">eleições anteriores</a>. Em breve serão inseridas informações acerca do Calendário Eleitoral - Eleições 2022.
    </ion-card-content>
  </ion-card>
</ion-content>