<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Eleições
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="box__img">
    <ion-img src="https://www.justicaeleitoral.jus.br/assets/img/logo-je.png"> </ion-img>
  </div>

  <h1 class="text__center">Eleições 2022</h1>
  <h5 class="text__center">Processo eleitoral no Brasil</h5>
  <p class="text__left">A Justiça Eleitoral organiza, fiscaliza e realiza as eleições regulamentando o processo
    eleitoral, examinando as contas de partidos e candidatos em campanhas, controlando o cumprimento da legislação
    pertinente em período eleitoral e julgando os processos relacionados com as eleições.</p>
  <p class="text__left">Em todo o processo eleitoral, há mecanismos para garantir a normalidade dos pleitos, a segurança
    do voto e a liberdade democrática. Por esses critérios, o Brasil se tornou referência mundial em eleições.</p>
  <p class="text__left">Dentre esses critérios, destaca-se o uso da urna eletrônica brasileira, que permitiu, desde
    2000, que as eleições passassem a ser totalmente informatizadas.</p>
  <h5 class="text__center">Instruções para votar:</h5>
  <ion-card name="ion-card">
    <ion-list>
      <ion-item>
        <ion-checkbox>c1</ion-checkbox>

        <ion-label>Levar o título eleitoral</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox>c2</ion-checkbox>
        <ion-label>Levar um documento de identificação com foto</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox>c3</ion-checkbox>
        <ion-label>Pesquisar bem sobre os canditados</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox>c4</ion-checkbox>
        <ion-label>Não usar o celular durante a votação</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox>c5</ion-checkbox>
        <ion-label>Não levar santinhos</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox>c7</ion-checkbox>
        <ion-label>Não fazer propaganda de candidatos</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox>c7</ion-checkbox>
        <ion-label>Votar com consciência!</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
