
    <ion-app>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title>Eleições 2022</ion-title>
        </ion-toolbar> </ion-header>
      <ion-content fullscreen>
        <ion-card>
          <img src="../../assets/eleicoes.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>Eleições 2022</ion-card-subtitle>
            <ion-card-title>A importância do voto no Brasil.</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            "No Brasil, são eleitos através do voto diversos representantes políticos da população, como:
             vereadores,
             prefeitos,
             deputados estaduais e federais,
             além de governadores e
             presidentes da República.
             Desde a Constituição de 1988 que o sufrágio universal foi instituído para a escolha dos ocupantes desses cargos acima mencionados. Sufrágio universal significa que todo o cidadão dentro das normas legais tem direito ao voto. Tal configuração de participação política foi uma vitória no sentido de ampliação dos critérios da democracia representativa no país, já que todos os cidadãos com mais de 16 anos, homens ou mulheres, alfabetizados ou analfabetos, têm direito a escolher seu representante através do voto. Porém, na história do voto do Brasil, nem sempre foi assim."
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-app>